<ion-header>
  <ion-toolbar>
    <ion-title>Generar Código QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Bienvenido, [Nombre Docente]</h2>

  <ion-button expand="block" (click)="generateQR()">
    Generar Código QR
  </ion-button>

  <!-- Mostrar el código QR cuando se genera -->
  <div *ngIf="qrCodeGenerated">
    <h3>Código QR para Registrar Asistencia:</h3>
    <img src="src/assets/icon/323A968C-D210-42B0-8A2D-2522EB7BEE65_4_5005_c.jpeg" alt="Código QR de RegistrAPP" />
  </div>
</ion-content>
