<ion-header>
  <ion-toolbar>
    <ion-title>Fleeca Bank</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Logo -->
  <div class="logo-container">
    <img src="assets/icon/fleeca-logo.png" alt="Fleeca Bank Logo">
  </div>

  <!-- Login Form -->
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="!loginForm.valid">Login</ion-button>
  </form>

  <!-- Error Message -->
  <div *ngIf="loginFailed" class="error-message">
    Incorrect username or password.
  </div>

  <!-- Register and Forgot Password Links -->
  <ion-row>
    <ion-col size="6">
      <ion-button fill="clear" size="small" routerLink="/register">Register</ion-button>
    </ion-col>
    <ion-col size="6" class="ion-text-end">
      <ion-button fill="clear" size="small" routerLink="/forgot-password">Forgot Password?</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
