<ion-header>
  <ion-toolbar>
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="logo-container">
    <img src="assets/icon/duoc-logo.png" alt="Logo DuocUC">
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="!loginForm.valid">
      Iniciar Sesión
    </ion-button>

    <ion-button fill="clear" (click)="resetPassword()">
      ¿Olvidaste tu contraseña?
    </ion-button>
  </form>
</ion-content>
