ion-content {
  --background: #ffffff;

  h2 {
    text-align: center;
    font-size: 1.5rem;
    color: #007b0c;
    margin-bottom: 20px;
  }

  ion-button {
    --background: #007b0c;
    margin-top: 20px;
  }
}

