<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido a RegistrAPP</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Cerrar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2 *ngIf="role === 'teacher'">Bienvenido Docente, [Nombre]</h2>
  <h2 *ngIf="role === 'student'">Bienvenido Estudiante, [Nombre]</h2>

  <div *ngIf="role === 'teacher'">
    <ion-button expand="block" (click)="navigateToQR()">
      Generar Código QR
    </ion-button>
  </div>

  <div *ngIf="role === 'student'">
    <ion-button expand="block" (click)="navigateToScanner()">
      Escanear Código QR
    </ion-button>
  </div>

  <ion-button expand="block" color="danger" (click)="logout()">
    Cerrar Sesión
  </ion-button>

</ion-content>
